.contentBtnCont{
    position: absolute;
    right: 4vw;
    top: 4vh;

    .switchButton {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.75s;

        .contentButton{
            font-size: 1.5rem;
            border-radius: 0.5rem;
            padding-left: 0.5rem;
        }
    }
}


.homeBtnCont {
    position: absolute;
    left: 4vw;
    top: 4vh;

    .switchButton {
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        .homeButton {
            font-size: 1.5rem;
            border-radius: 0.5rem;
            padding-right: 0.5rem;
        }
    }
}