.musicPlayer{
    width: 35rem;
    height: 1px;
    z-index: 1;
    position: absolute;
    bottom: 1px;
    right: 2vw;
    transition: all 0.75s;
}

@media (max-width: 728px){
    .musicPlayer {
        height: 1px;
        width: 90vw;
        right: 5vw;
        bottom: 2vh;
    }
}

@media (max-height: 680px){
    .musicPlayer {
        height: 1px;
    }
}