* {
  margin: 0;
  padding: 0;
  font-family: batman2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10vh;
}
.searchForm .searchContainer {
  width: 45vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  align-items: center;
}
.searchForm .searchContainer .searchSmall {
  display: none;
}
.searchForm .searchContainer .searchLarge {
  width: 45vw;
  border-radius: 2rem;
  border: 3px solid rgb(6, 27, 93);
  background-color: rgb(5, 19, 58);
  color: rgb(239, 239, 239);
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 1rem;
}
.searchForm .searchContainer .searchLarge::placeholder {
  color: rgb(239, 239, 239);
}
.searchForm .searchContainer .searchLarge:focus {
  outline: none;
}
.searchForm .searchContainer .searchSmall::placeholder {
  color: rgb(239, 239, 239);
}
.searchForm .searchContainer .searchSmall:focus {
  outline: none;
}
.searchForm .searchContainer .searchIcon {
  position: absolute;
  right: 0.75rem;
  font-size: 2.5rem;
}
.searchForm .searchContainer .searchIcon path {
  color: rgb(239, 239, 239);
}

@media (max-width: 728px) {
  .searchForm .searchContainer {
    width: 60vw;
  }
  .searchForm .searchContainer .searchLarge {
    display: none;
  }
  .searchForm .searchContainer .searchSmall {
    display: block;
    width: 60vw;
    border-radius: 2rem;
    border: 3px solid rgb(6, 27, 93);
    background-color: rgb(5, 19, 58);
    color: rgb(239, 239, 239);
    font-size: 1.5rem;
    padding: 0.5rem;
    padding-left: 1rem;
  }
  .searchForm .searchContainer .searchIcon {
    font-size: 2rem;
  }
}
.musicPlayer {
  width: 35rem;
  height: 20vh;
  z-index: 1;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  transition: all 0.75s;
}

@media (max-width: 728px) {
  .musicPlayer {
    height: 13vh;
    width: 90vw;
    right: 5vw;
    bottom: 2vh;
  }
}
@media (max-height: 680px) {
  .musicPlayer {
    height: 17vh;
  }
}
#root {
  height: 100vh;
}
#root .contentCont {
  width: 200vw;
  height: 100vh;
  transition: all 1s;
  display: flex;
  flex-direction: row;
}
#root .contentCont .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  position: relative;
}
#root .contentCont .content {
  width: 100vw;
  position: relative;
}
#root .home {
  transform: translateX(-100vw);
}
#root .backgroundImageContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}
#root .backgroundImageContainer .img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
}
#root .img2 {
  width: 400vw;
  height: 100vh;
}

.contentBtnCont {
  position: absolute;
  right: 4vw;
  top: 4vh;
}
.contentBtnCont .switchButton {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.75s;
}
.contentBtnCont .switchButton .contentButton {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
}

.homeBtnCont {
  position: absolute;
  left: 4vw;
  top: 4vh;
}
.homeBtnCont .switchButton {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.homeBtnCont .switchButton .homeButton {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
}

.quoteCont {
  text-align: center;
  width: 50vw;
  position: absolute;
  top: 50vh;
}
.quoteCont .quoteContent {
  font-size: 2.5vmax;
}
.quoteCont .quoteAuthor {
  font-size: 2vmax;
}

.accordionSection {
  padding: 1rem 1.5rem;
  border: 2px solid hsl(210, 30%, 67%);
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.accordionSection h4 {
  text-transform: none;
  line-height: 1.5;
}
.accordionSection p {
  color: hsl(210, 30%, 45%);
  margin-bottom: 0;
  margin-top: 0.5rem;
}
.accordionSection header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordionSection header h4 {
  margin-bottom: 0;
}
.accordionSection .linksCont {
  display: flex;
  flex-direction: column;
}
.accordionSection .linksCont a {
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */